﻿
@{
    ViewBag.Title = "Index";
}

<h2  style="color:blue">Party!!!</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
      
        <h4 style="color:darkslategray; font-family:'Segoe Print'; text-align:center">
            <br>
            Будет круто! Айда с нами)<br>

            @Html.ActionLink("Посмотреть детали", "RsvpForm")
        </h4>
    </div>


</body>
</html>