﻿@model Web_1.Models.Response

@{
    ViewBag.Title = "RsvpForm";
}

  
    <h2 style="color:blue; text-align:center; font-family:'Segoe Print';">Приглашение на вечеринку</h2>
    <body>
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            <h4 style="color:darkslategray; font-family:'Segoe Print'; text-align:center">
                В эту пятницу по адресу "Ленина 56/12" в 19:00 состоится вечеринка по поводу дня рождения заведения.
                Каждый пятый напиток беплатно!
            </h4>
            <div style="font-family:'Segoe Print'; " align="center" class="bg-success">
                <p sstyle="text-align:-10px">Имя:<br>   @Html.TextBoxFor(x => x.Name)</p>
                <p>email:<br> @Html.TextBoxFor(x => x.Email)</p>
                <p>
                    Вы придете?<br>
                    @Html.DropDownListFor(x => x.WillAttend, new[] {
                        new SelectListItem() { Text = "Я буду", Value = Boolean.TrueString},
                        new SelectListItem() { Text = "Я не смогу", Value = Boolean.FalseString}
               })

                </p>
                <input type="submit" style="border-bottom-style:groove;font-style:inherit" value="Отправить" />
            </div>
        

        }
    </body>
