﻿@model Web_1.Models.Response

@{
    ViewBag.Title = "Thanks";
}

@{
    try
    {
        Model.Send(Model.Email, Model.Name + ((Model.WillAttend ?? false) ? " " : " не ") + "придет");

    }
    catch (Exception ex)
    {
        @:<b>К сожалению при отправке письма возникла ошибка.</b>
    }
}
@if (Model.WillAttend == true)
{
    <h1 style="color:darkslategray; font-family:'Segoe Print'; text-align:center">
        Правильное решение! Ждем с нетерпением!
    </h1>
    <div align="center">
        <img src="~/Content/img.jpg" alt="Котэ доволен">
    </div>
}
else
{ <h1 style="color:darkslategray; font-family:'Segoe Print'; text-align:center">

        Очень жаль, будем ждать в следующий раз. Спасибо за ответ!
    </h1>
}


